@if(!!form){
    <form #formRef (ngSubmit)="onFormSubmit()" [formGroup]="form" autocomplete="off">
        <div class="row">
            <div class="col-md-12">
                @for (section of sections; track $index) {
                    <div class="section">
                        @for (row of section.rows; track $index) {
                            <div class="row mb15">
                                @for (col of row; track $index) {
                                    <div [class]="'col-md-' + col.flexSize">
                                        <core-control></core-control>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                }
            </div>

        </div>
    </form>
}