//Biến mặc định
$border: none !default;

// Biến màu sắc
$color-primary: #4a6cf7;
$color-primary-light: #7595f5;
$color-primary-dark: #173dd2;
$color-success: #08e300;
$color-success-light: #62de5ed8;
$color-success-dark: #25af20;
$color-white: #ffffff;
$color-black: #222222;
$color-gray: #e5e5e5;
$color-gray-dark: #6b6b6b;

// Biến kích thước
$border-radius: 8px;
$btn-padding-y: 10px;
$btn-padding-x: 24px;
$btn-font-size: 13px;
$btn-font-weight: 500;
$btn-line-height: 1.5;
$btn-spacing: 1rem;