<div class="core-control-container">
    <div [formGroup]="form()" [class.hidden]="!!control().hidden">
        <div class="w-100 d-flex flex-column justify-content-between">
            <label class="control-label pb-1">
                <span [class]="'label-value' +  (isRequired() ? ' required' : '')">
                    @if(control().controlType === 'CHECKBOX' || !control().label){
                        &nbsp;
                    }@else {
                        {{control().label}}
                    }
                </span>
            </label>

            @switch (control().controlType) {
                @case('TEXTBOX') {
                    <core-text-box [formControlName]="control().field" [inputValue]="control().value"
                    [control]="control()" (onBlur)="onBlur($event)" (onFocus)="onFocus($event)"></core-text-box>
                }
                @case('CHECKBOX') {
                    <core-check-box [formControlName]="control().field" [text]="control().label"
                        [inputValue]="control().value"></core-check-box>
                }
                @default {
                    <core-text-box [formControlName]="control().field" [inputValue]="control().value"
                    [control]="control()" (onBlur)="onBlur($event)" (onFocus)="onFocus($event)"></core-text-box>
                }
            }

            <!-- Messages error -->
            @if(!!errors().length){
                @for (error of errors(); track $index) {
                    <div class="form-control-error">
                        {{ error.errorMessage }}
                    </div>
                }
            }
            @if(!!errors!.length && errors().length == 0 && !!checkError$.value){
                <div>
                    {{ '&nbsp;' }}
                </div>
            }
        </div>
    </div>

</div>