<div class="core-control-container">
    <div [formGroup]="form" [class.hidden]="!!control.hidden">
        <div class="w-100 d-flex flex-column justify-content-between">
            <label class="control-label pb-1">
                <span class="label-value">
                    @if(control.controlType === 'CHECKBOX' || !control.label){
                        &nbsp;
                    }@else {
                        {{control.label}}
                        @if(isRequired){
                            <span style="color: red;">*</span>
                        }
                    }
                </span>
            </label>

            @if(control.controlType == 'TEXTBOX'){
            <core-text-box [formControlName]="control.field" [inputValue]="control.value"
                [control]="control"></core-text-box>
            }
            @else if (control.controlType == 'CHECKBOX') {
            <core-check-box [formControlName]="control.field" [text]="control.label"
                [inputValue]="control.value"></core-check-box>
            }

            <!-- Messages error -->
            @if(!!errors!.length){
                @for (error of errors; track $index) {
                    <div class="form-control-error">
                        {{ error.errorMessage }}
                    </div>
                }
            }
            @if(!!errors!.length && !!checkError$.value){
                <div>
                    {{ '&nbsp;' }}
                </div>
            }    
        </div>
    </div>

</div>