<div>
    <button class="btn btn-success">Button</button>
    <button class="btn btn-success-hover">Button</button>
    <button class="btn btn-success-active">Button</button>
    <button class="btn btn-disabled">Button</button>
    <button class="btn btn-success btn-sm">Button</button>
    <button class="btn btn-disabled btn-lg">Button</button>
</div>
<br>
<div>
    <button class="btn btn-primary">Button</button>
    <button class="btn btn-primary-hover">Button</button>
    <button class="btn btn-primary-active">Button</button>
    <button class="btn btn-disabled">Button</button>
</div>
<br>
<div>
    <core-button-demo>Button</core-button-demo>
    <core-button-demo [size]="size" [theme]="theme">Button</core-button-demo>
    <core-button-demo [size]="size" [theme]="theme">Button</core-button-demo>
</div>