/* Hide the browser's default checkbox */
input {
    display: none;
}
.core-checkbox-container {

    --checkbox-size: 15px;
    --checkbox-border-color: #B9B9B9;
    --checkbox-hover-bg: #B9B9B9;
    --checkbox-bg: transparent;
    --checkbox-checked-bg: var(--color-basic-orange);
    --checkbox-color: #FFFFFF;
    --checkbox-border-radius: 3px;
    --font-size: 15px;
    --text-color: gray;
    
    display: inline-block;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    font-size: var(--font-size);
    font-weight: 400;
    color: var(--text-color);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    .checkmark {
        position: absolute;
        float: left;
        height: var(--checkbox-size);
        width: var(--checkbox-size);
        margin-right: .5em;
        border: 1px solid var(--checkbox-border-color);
        border-radius: var(--checkbox-border-radius);
        background-color: var(--checkbox-bg);
    }

    & label > span {
        display: inline-block;
        height: var(--checkbox-size);
        line-height: var(--checkbox-size);
        padding-left: calc(var(--checkbox-size) * 1.5);
        text-overflow: ellipsis;
        max-width: calc(100% - var(--checkbox-size) * 4);
        white-space: nowrap;
        font-size: 13px;
    }
}

/* On mouse-over, add a grey background color */
.core-checkbox-container:hover .checkmark {
    background-color: var(--checkbox-hover-bg);
}

/* When the checkbox is checked, add background */
input:checked ~ label .checkmark {
    background-color: white;
    border-color: #848484;
    display: flex;
    align-items: center;
    justify-content: center;
}

input:checked ~ label .disabled {
    background-color: #F1F1F1;
    border-color: grey;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
input:checked ~ label .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.core-checkbox-container .checkmark:after {
    width: 9px;
    height: 4px;
    border-left: 2px solid #464646;
    border-bottom: 2px solid #464646;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
