<div class="row">
    <div class="col-md-3">
        <core-form [formName]="formName" [inputSections]="sectionsTxt" (onSubmit)="onSubmitTxt($event)"
            (onCancel)="onCancel($event)"></core-form>
    </div>
    <div class="col-md-3">
        <core-form [formName]="formName" [inputSections]="sectionsCkb" (onSubmit)="onSubmitCkb($event)"
            (onCancel)="onCancel($event)"></core-form>
    </div>
    <div class="col-md-6">
        <core-form [formName]="formName" [inputSections]="sectionsValue"></core-form>
    </div>
</div>