@use '../abstracts' as *;


.btn {
    @include button-base;

    &-primary {
        @include button-variant($color-primary, $color-primary-light, $color-primary-dark, $color-white);

        &-hover {
            @include button-variant($color-primary-light, $color-primary, $color-primary-dark, $color-white);
        }

        &-active {
            @include button-variant($color-primary-dark, $color-primary-light, $color-primary-light, $color-white);
        }
    }

    &-success {
        @include button-variant($color-success, $color-success-light, $color-success-dark, $color-white);

        &-hover {
            @include button-variant($color-success-light, $color-success, $color-success-dark, $color-white);
        }

        &-active {
            @include button-variant($color-success-dark, $color-success-light, $color-success-light, $color-white);
        }
    }

    &-disabled {
        opacity: 0.65;
        pointer-events: none;
        border: 1px solid $color-gray-dark;
        color: $color-gray-dark;
    }

    &-sm {
        padding: 6px 16px;
        font-size: 14px;
    }

    &-lg {
        padding: 12px 30px;
        font-size: 18px;
    }
}

.btn+.btn {
    margin-left: $btn-spacing;
}