:root {
    --font-size-label: 13px;
    --text-color: gray;
    --primary-light: #a69ef4b8;
    --primary: #6d5dfc;
    --primary-dark: #4603c1;

    --white: #FFFFFF;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
}

.form-control {
    display: block;
    height: 30px;
    width: 100%;
    padding: 5px 10px;
    background: #fff;
    border: 1px solid #d1d0d0;
    color: #6e6e6e;
    border-radius: 0.35rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    transition: border-color 0.15sease-in-out, box-shadow 0.15sease-in-out;
}

.form-control:focus {
    background-color: var(--white);
    border-color: var(--primary-dark);
    outline: 0;
    box-shadow: none;
    color: #6e6e6e;
}

.form-control-disabled {
    user-select: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -moz-user-select: none !important;

    &:not(.core-checkbox-container) {
        background-color: #e9ecef !important;
    }

}

.form-error {
    color: #ec0000e0;
    font-size: 14px;
}

.form-control-error {
    color: #ec0000e0;
    font-size: 14px;
}

.form-control {
    font-size: 13px;
}

.form-control[readonly] {
    background-color: white;
}

.btn+.btn {
    margin-left: 1rem;
}

.light{
    background-color: var(--greyLight-1);
    color: #241b1b;
}

.dark{
    background-color: #241b1b;
    color: white;
}

.color-comp + .color-comp{
    margin-top: 1rem;
}
.color-detail{
    &::first-letter {
        text-transform: capitalize;
    }
}